.chill-plain, .chill-symbol {
    color: #24292e;
}

.chill-string, .chill-keyword, .chill-bool, .chill-operator {
    color: #d73a49;
}

.chill-number, .chill-function {
    color: #005cc5;
}

.chill-comment {
    color: #6a737d;
    font-style: italic;
}

.chill-type {
    color: #e36209;
}

.chill-class {
    color: #6f42c1;
}
