.chill-wrapper {
    background-color: #0d1117;
}

.chill-plain, .chill-symbol {
    color: #e6edf3;
}

.chill-keyword, .chill-bool, .chill-operator {
    color: #ff7b72;
}

.chill-number, .chill-function {
    color: #79c0ff;
}

.chill-comment {
    color: #8b949e;
    font-style: italic;
}

.chill-type {
    color: #f89859;
}

.chill-class {
    color: #d2a8ff;
}

.chill-string {
    color: #a5d6ff;
}