.chill-plain {
    color: #c9d1d9;
}

.chill-string {
    color: #d69a0b;
}

.chill-keyword {
    color: #d73a49;
}

.chill-number {
    color: #005cc5;
}

.chill-bool {
    color: #d73a49;
}

.chill-comment {
    color: #6a737d;
    font-style: italic;
}

.chill-operator {
    color: #d73a49;
}

.chill-function {
    color: #6f42c1;
}

.chill-symbol {
    color: #c9d1d9;
}