.calor-wrapper {
  background-color: #fff;
}

.calor-plain,
.calor-symbol {
  color: #24292e;
}

.calor-keyword,
.calor-bool,
.calor-operator {
  color: #cf222e;
}

.calor-number,
.calor-function {
  color: #0550ae;
}

.calor-comment {
  color: #6e7781;
  font-style: italic;
}

.calor-type {
  color: #e36209;
}

.calor-class {
  color: #8250df;
}

.calor-string {
  color: #4d804e;
}
